.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background: aquamarine;
  padding: 20px;
}

.nav a {
  text-decoration: none;
}

video {
  width: 100%;
  max-width: 500px;
}

.recordings-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recording {
  width: 400px;
  margin: 10px 0;
}
